:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fbfbfb;
}

.jost-logo-text {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-icon svg {
  color: #030712;
  transition: color 0.2s ease-in-out;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.nav-icon:hover svg {
  color: #d211b8;
}

.cart-icon {
  position: relative;
  display: inline-block;
}

.cart-icon span {
  position: absolute;
  top: -3px;
  right: -3px;
  background-color: #a00e8c;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
}

.delete-icon svg {
  color: #030712;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.delete-icon:hover svg {
  color: #d211b8;
}

.textSize-18 {
  font-size: 18px !important;
  font-weight: 400;
}

button {
  font-size: 38px;
}

button:hover {
  background-color: #d211b8;
}

/* -- LOADER */

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.content-loader {
  width: 70px;
  height: 70px;
  border: 10px solid #bbbbbb;
  border-top: 10px solid #d211b8;
  border-radius: 50%;
  margin: 20px auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
